{%- style -%}
    .table-{{  section.id }}{
      margin: 20px auto 40px auto;
      padding:0;
    }
    .table-{{  section.id }} table {
      width: 100%; 
      box-shadow: 0 0 0;
    }
    .table-{{  section.id }} thead tr th:nth-child(even) {
      background: {{- section.settings.color_th_even | default: '#eee' -}};
      color: {{- section.settings.color_th_text | default: '#fff' -}};
    }
    .table-{{  section.id }} thead tr th:nth-child(odd) {
      background: {{- section.settings.color_th_odd | default: '#eee' -}};
      color: {{- section.settings.color_th_text | default: '#fff' -}};
    }
    .table-{{  section.id }} tbody tr td:nth-child(even)  {
      background: {{- section.settings.color_even | default: '#fff' -}};
      color: {{- section.settings.color_even_text | default: '#fff' -}};
    }
    .table-{{  section.id }} tbody tr td:nth-child(odd) {
      background: {{- section.settings.color_odd | default: '#fff' -}};
      color: {{- section.settings.color_odd_text | default: '#fff' -}};
      
    }
    .table-{{  section.id }} table,
    .table-{{  section.id }} th,
    .table-{{  section.id }} td {
        border: 1px solid #e7e7db !important;
    }
    @media screen and (max-width: 750px) {
      .table-{{  section.id }} th,
      .table-{{  section.id }} td {
        max-width: 100%;
        white-space: normal;
        font-size: 10px;
      }
    }
    .table-spacing {
        padding: 25px 10px;
    }
{%- endstyle -%}

    <section class="table-{{  section.id }} page-width" style="overflow-x: auto;">
        <table>
            <thead>
              <tr>
                <th class="center table-spacing h3" style="width:20%">
                  {{ section.settings.th1 }}
                </th>
                <th class="center table-spacing h3" style="width:40%">
                  {{ section.settings.th2 }}
                </th>
                <th class="center table-spacing h3" style="width:40%">
                  {{ section.settings.th3 }}
                </th>

              </tr>
            </thead>
            <tbody>
                {% if section.blocks.size > 0 %}
                  {%  for block in section.blocks %}
                    <tr>
                      <td class="center table-spacing text-body" style="font-style: italic;">{{ block.settings.col1 }}</td>
                      <td class="center table-spacing text-body" style="font-weight: bold;">{{ block.settings.col2 }}</td>
                      <td class="center table-spacing text-body">{{ block.settings.col3 }}</td>
                    </tr>
                    {%  endfor %}
                {%  endif %}
              </tbody>
        </table>
    </section>


{% schema %}
  {
    "name": "Table",
    "settings": [
       {
          "type": "text",
          "id": "th1",
          "label": "TH1"
        },
        {
          "type": "text",
          "id": "th2",
          "label": "TH2"
        },
        {
          "type": "text",
          "id": "th3",
          "label": "TH3"
        },
        {
        "type": "color",
        "id": "color_th_even",
        "label": "TH color even"
       },
       {
        "type": "color",
        "id": "color_th_odd",
        "label": "TH color odd"
       },
      {
        "type": "color",
        "id": "color_th_text",
        "label": "TH text color"
       },
      {
        "type": "color",
        "id": "color_even",
        "label": "even Row color"
       },
      {
        "type": "color",
        "id": "color_even_text",
        "label": "even Row text color"
       },
      {
        "type": "color",
        "id": "color_odd",
        "label": "odd Row color"
       },
      {
        "type": "color",
        "id": "color_odd_text",
        "label": "odd Row text color"
       }
  ],
  "blocks": [
    {
      "type": "rows",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "col1",
          "label": "Col 1"
        },
        {
          "type": "text",
          "id": "col2",
          "label": "Col 2"
        },
        {
          "type": "text",
          "id": "col3",
          "label": "Col 3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table",
      "blocks": [
        
      ]
    }
  ]
  }
{% endschema %}